
.description{
    padding: 20px;
    font-size: 1.2rem;
    text-align: justify;
}
.ta9rir{
    margin-bottom: 120px;
}
.i3lan{
    margin-bottom: 120px;
}
.aderation{
    margin-bottom: 120px;
}